---
import OptImage from '../../components/common/OptImage.astro';
import { siteMetadata } from '../../data/meta';
import watermark from '../../images/keitasplan/common/logo_S.svg?raw';
import Footer from '../../layouts/Footer.astro';
import Header from '../../layouts/Header.astro';
import Layout from '../../layouts/Layout.astro';
import { cmsImageSize, getAllMembers } from '../../lib/microcms';

export async function getStaticPaths() {
	const members = await getAllMembers({ orders: 'system:default' });
	return members.map((member) => ({
		params: { slug: member.slug },
		props: { member },
	}));
}

const { member } = Astro.props;
---

<Layout title={`${member.name} | ${siteMetadata.siteName}`}>
	<Header id="header" />
	<section class="p-member-detail">
		<span
			class="p-member-detail__mark"
			aria-hidden="true"
			set:html={watermark}
		/>
		<div class="p-member-detail__inner">
			<div class="p-member-detail__names">
				<h1 class="p-member-detail__name">{member.name}</h1>
				<span class="p-member-detail__nameEn">{member.nameEn}</span>
			</div>
			<span class="p-member-detail__photo">
				<OptImage
					src={member.portrait.url}
					alt={member.name}
					position="top"
					priority
					{...cmsImageSize(member.portrait, 720)}
				/>
			</span>
			<p class="p-member-detail__intro">{member.introduction}</p>
		</div>
	</section>
	<Footer id="footer" variant="subpage" />
</Layout>

<style lang="scss">
	.p-member-detail {
		position: relative;
		overflow: hidden;
		padding: size(224) 0 size(160);

		@include mq('sp') {
			padding: size(183) 0 size(160);
		}

		&__mark {
			position: absolute;
			top: size(120);
			left: size(-73);
			width: size(469);
			height: size(469);
			pointer-events: none;

			:global(svg) {
				display: block;
				width: 100%;
				height: 100%;
			}

			@include mq('sp') {
				left: size(-99);
				width: size(634);
				height: size(634);
			}
		}

		&__inner {
			position: relative;
			display: grid;
			grid-template:
				'names photo' auto
				'intro photo' 1fr
				/ size(526) size(360);
			justify-content: space-between;
			align-items: start;
			gap: size(46);
			padding-inline: size(295);

			@include mq('sp') {
				grid-template:
					'names'
					'photo'
					'intro'
					/ size(526);
				row-gap: size(60);
				width: size(526);
				padding-inline: 0;
				margin-inline: auto;
			}
		}

		&__names {
			grid-area: names;
			display: flex;
			flex-direction: column;
			gap: size(3);
		}

		&__name {
			font-family: $Font;
			font-weight: 500;
			font-size: size(35);
			line-height: 1.4;
			letter-spacing: size(3.5);
			color: $brand-text;

			@include mq('sp') {
				font-size: size(53);
				letter-spacing: size(5.3);
			}
		}

		&__nameEn {
			font-family: $Font-Readex;
			font-weight: 500;
			font-size: size(13);
			line-height: 1.4;
			letter-spacing: size(1.3);
			text-transform: uppercase;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(17);
				letter-spacing: size(1.7);
			}
		}

		&__photo {
			grid-area: photo;
			display: block;
			width: size(360);
			height: size(420);
			border-radius: size(10);
			background: linear-gradient(to top, #dfefff, #b8dbff);
			overflow: hidden;

			@include mq('sp') {
				width: 100%;
				height: auto;
			}
		}

		&__intro {
			grid-area: intro;
			width: size(526);
			font-family: $Font-Sub;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.9;
			text-align: justify;
			white-space: pre-line;
			overflow-wrap: break-word;
			color: #666;

			@include mq('sp') {
				width: 100%;
				font-size: size(30);
			}
		}
	}
</style>
