---
import MemberPanel from '../../components/card/MemberPanel.astro';
import { siteMetadata } from '../../data/meta';
import Footer from '../../layouts/Footer.astro';
import Header from '../../layouts/Header.astro';
import Layout from '../../layouts/Layout.astro';
import { getAllMembers } from '../../lib/microcms';
import PageHero from '../../section/common/PageHero.astro';

const members = await getAllMembers({ orders: '-system:default' });
---

<Layout title={`メンバー | ${siteMetadata.siteName}`}>
	<Header id="header" />
	<PageHero id="members-hero" ja="メンバー" en="MEMBERS" spTitleLarge />
	<section class="p-members">
		<div class="p-members__inner">
			<ul class="p-members__grid">
				{
					members.map((m) => (
						<li class="p-members__cell">
							<MemberPanel
								href={`/members/${m.id}`}
								name={m.name}
								nameEn={m.nameEn}
								role={m.role}
								photo={m.photo}
								photoHover={m.photoHover}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</section>
	<Footer id="footer" variant="subpage" />
</Layout>

<style lang="scss">
	.p-members {
		position: relative;
		background: linear-gradient(360deg, #dfefff 48.08%, #b8dbff 100%);
		border-radius: size($section-card-radius) size($section-card-radius) 0 0;

		&__inner {
			max-width: size(1092);
			margin-inline: auto;
			padding-block: size(96) size(147);

			@include mq('sp') {
				max-width: size(680);
				padding-block: size(148) size(150);
			}
		}

		&__grid {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: size(80) size(36);

			@include mq('sp') {
				grid-template-columns: repeat(2, minmax(0, 1fr));
				gap: size(80) size(40);
			}
		}

		&__cell {
			min-width: 0;
		}
	}
</style>
