---
import Pager from '../../components/common/Pager.astro';

interface Props {
	items: any[];
	currentPage: number;
	totalPages: number;
}
const { items, currentPage, totalPages } = Astro.props;
---

<section class="p-voices">
	<div class="p-voices__inner">
		<h1 class="p-voices__title">お客様の声</h1>
		<ul class="p-voices__list">
			{
				items.map((v) => (
					<li class="p-voices__item">
						<a
							class="p-voices__link"
							href={`/voices/detail/${v.id}`}
						>
							<span class="p-voices__meta">{v.meta}</span>
							<span class="p-voices__headline">{v.title}</span>
						</a>
					</li>
				))
			}
		</ul>
		<div class="p-voices__pager">
			<Pager
				currentPage={currentPage}
				totalPages={totalPages}
				basePath="/voices"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	.p-voices {
		&__inner {
			max-width: size(800);
			margin-inline: auto;
			padding: size(160) size(24) size(120);
		}

		&__title {
			font-family: $Font;
			font-weight: 500;
			font-size: size(40);
			color: $brand-text;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: size(24);
			margin-top: size(60);
		}

		&__link {
			display: flex;
			flex-direction: column;
			gap: size(4);
			padding: size(24);
			background: $brand-blue-sky;
			border-radius: size(10);
		}

		&__meta {
			font-family: $Font;
			font-size: size(14);
			color: $brand-blue;

			@include mq('sp') {
				font-size: size(22);
			}
		}

		&__headline {
			font-family: $Font;
			font-weight: 500;
			font-size: size(20);
			color: $brand-text;

			@include mq('sp') {
				font-size: size(28);
			}
		}

		&__pager {
			margin-top: size(80);
		}
	}
</style>
