---
import Pager from '../../components/common/Pager.astro';
import { formatDotDate } from '../../utils/date';

interface Props {
	items: any[];
	currentPage: number;
	totalPages: number;
}
const { items, currentPage, totalPages } = Astro.props;
---

<section class="p-news">
	<div class="p-news__inner">
		<h1 class="p-news__title">ニュース</h1>
		<ul class="p-news__list">
			{
				items.map((n) => (
					<li class="p-news__item">
						<a class="p-news__link" href={`/news/detail/${n.id}`}>
							<img
								class="p-news__img"
								src={`${n.image.url}?fm=webp&w=450`}
								alt=""
								width={n.image.width}
								height={n.image.height}
								loading="lazy"
								decoding="async"
							/>
							<span class="p-news__meta">
								{`${formatDotDate(n.date)} ／ ${n.category.name}`}
							</span>
							<span class="p-news__headline">{n.title}</span>
						</a>
					</li>
				))
			}
		</ul>
		<div class="p-news__pager">
			<Pager
				currentPage={currentPage}
				totalPages={totalPages}
				basePath="/news"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	.p-news {
		&__inner {
			max-width: size(1050);
			margin-inline: auto;
			padding: size(160) size(24) size(120);
		}

		&__title {
			font-family: $Font;
			font-weight: 500;
			font-size: size(40);
			color: $brand-text;
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: size(40);
			margin-top: size(60);

			@include mq('sp') {
				grid-template-columns: 1fr;
				gap: size(40);
			}
		}

		&__link {
			display: flex;
			flex-direction: column;
			gap: size(8);
		}

		&__img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: size(10);
		}

		&__meta {
			font-family: $Font;
			font-size: size(13);
			color: $brand-blue;

			@include mq('sp') {
				font-size: size(22);
			}
		}

		&__headline {
			font-family: $Font;
			font-weight: 500;
			font-size: size(18);
			line-height: 1.6;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(28);
			}
		}

		&__pager {
			margin-top: size(80);
		}
	}
</style>
