---
import ArrowButton from '../components/button/ArrowButton.astro';
import NumberStat from '../components/card/NumberStat.astro';
import OptImage from '../components/common/OptImage.astro';
import { stats } from '../data/siteContent';
import logo from '../images/keitasplan/common/header-01.png';
import bgSaiji from '../images/keitasplan/data/data-02.png';
import bgKaitori from '../images/keitasplan/data/data-03.png';
import bgStaff from '../images/keitasplan/data/data-05.png';
import bgSatisfy from '../images/keitasplan/data/data-10.png';

interface Props {
	id?: string;
}
const { id } = Astro.props;

// stats と同順: 年間買取件数 / 年間催事開催件数 / 社員数 / お客様満足度
const statBgs = [bgKaitori, bgSaiji, bgStaff, bgSatisfy];
---

<section class="p-data" id={id}>
	<div class="p-data__inner">
		<div class="p-data__heading">
			<span class="p-data__badge">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="197"
					height="81"
					viewBox="0 0 197 81"
					fill="none"
				>
					<path
						d="M166.153 0C182.991 0 196.641 13.6498 196.641 30.4873C196.64 47.3246 182.991 60.9736 166.153 60.9736H106.37L100.213 79.0449C99.5973 80.8515 97.0423 80.8515 96.4268 79.0449L90.2695 60.9736H30.4873C13.65 60.9736 0.000198958 47.3246 0 30.4873C0 13.6498 13.6498 0 30.4873 0H166.153Z"
						fill="url(#paint0_linear_681_945)"></path>
					<defs>
						<linearGradient
							id="paint0_linear_681_945"
							x1="98.3203"
							y1="0"
							x2="98.3203"
							y2="80.3999"
							gradientUnits="userSpaceOnUse"
						>
							<stop stop-color="#0054AC"></stop>
							<stop offset="1" stop-color="#98CBFF"></stop>
						</linearGradient>
					</defs>
				</svg>
				<span class="p-data__badge-text">数字で見る</span>
			</span>
			<span class="p-data__logo">
				<OptImage
					src={logo}
					alt="KEITASU PLAN"
					width={720}
					fit="contain"
				/>
			</span>
			<p class="p-data__lead">
				ケイタスプランにまつわる様々な数字をご紹介します
			</p>
		</div>
		<div class="p-data__grid">
			{
				stats.map((stat, i) => (
					<NumberStat
						label={stat.label}
						prefix={stat.prefix}
						value={stat.value}
						unit={stat.unit}
						note={stat.note}
						bg={statBgs[i]}
					/>
				))
			}
		</div>
		<div class="p-data__btn">
			<ArrowButton
				href="#about"
				label="詳しく見る"
				variant="white"
				class="p-data__btn"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	@use '../styles/foundation/index' as *;

	.p-data {
		background: linear-gradient(
			180deg,
			$brand-white 0%,
			$brand-blue-sky 100%
		);
		padding-block: size(100);

		@include mq('sp') {
			padding-block: size(80);
			background: none;
		}

		&__inner {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: size(1098);
			margin-inline: auto;
			padding-inline: size(24);
			border-radius: size(10);
			overflow: hidden;
			background: var(
				--bg,
				linear-gradient(180deg, #fff 0%, #e9e9e9 100%)
			);
			box-shadow:
				0 0 size(4) 0 rgb(0 0 0 / 10%),
				0 size(5) size(30) 0 rgb(0 0 0 / 10%);
			padding: size(84) 0;

			@include mq('sp') {
				// SPカード: 幅640（左右余白64）/ 内側 上36・左右71・下61
				max-width: size(640);
				padding: size(36) size(71) size(61);
			}

			&::before {
				content: 'DATA';
				position: absolute;
				left: size(305);
				top: size(19);
				color: $brand-blue;
				font-family: $Font-Readex;
				font-size: size(288);
				font-weight: 500;
				line-height: 140%;
				letter-spacing: size(28.8);
				opacity: 0.04;
				transform: rotate(90deg);
				transform-origin: left top;

				@include mq('sp') {
					top: size(9);
					left: size(256);
					font-size: size(238);
					letter-spacing: size(23.8);
				}
			}
		}

		&__heading {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		// 「数字で見る」吹き出しバッジ
		&__badge {
			position: relative;
			width: size(197);
			color: #fff;

			&-text {
				// font-family: $Font-Readex;
				font-weight: 500;
				font-size: size(25);
				line-height: 140%;
				letter-spacing: 0.1em;
				position: absolute;
				top: size(13);
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				white-space: nowrap;
			}
		}

		&__logo {
			display: block;
			width: size(560);
			max-width: 100%;
			margin-top: size(24);

			@include mq('sp') {
				width: size(498);
				margin-top: size(40);
			}
		}

		&__lead {
			@include ty-lead;

			font-size: size(20);
			font-weight: 300;
			margin-top: size(16);
			color: $brand-text;
			text-align: center;

			@include mq('sp') {
				margin-top: size(20);
				font-size: size(30);
			}
		}

		&__grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: size(50);
			width: 100%;
			max-width: size(910);
			margin-top: size(72);

			@include mq('sp') {
				grid-template-columns: 1fr;
				gap: size(34);
				max-width: size(430);
				margin-top: size(54);
			}
		}

		&__btn {
			margin-top: size(64);

			@include mq('sp') {
				margin-top: size(53);
			}
		}
	}
</style>
