---
import arrow from '../../images/keitasplan/common/arrow.svg';

import type { MicroCMSImage } from 'microcms-js-sdk';

interface Props {
	href: string;
	name: string;
	nameEn?: string;
	role: string;
	photo: MicroCMSImage;
	photoHover: MicroCMSImage;
}

const { href, name, nameEn, role, photo, photoHover } = Astro.props;

const src = (img: MicroCMSImage) => `${img.url}?fm=webp&h=620`;
---

<a class="c-member-panel" href={href}>
	<span class="c-member-panel__photo">
		<img
			class="c-member-panel__img c-member-panel__img--base"
			src={src(photo)}
			alt={name}
			width={photo.width}
			height={photo.height}
			loading="lazy"
			decoding="async"
		/>
		<img
			class="c-member-panel__img c-member-panel__img--hover"
			src={src(photoHover)}
			alt=""
			width={photoHover.width}
			height={photoHover.height}
			loading="lazy"
			decoding="async"
			aria-hidden="true"
		/>
	</span>
	<span class="c-member-panel__name">{name}</span>
	{nameEn && <span class="c-member-panel__nameEn">{nameEn}</span>}
	<span class="c-member-panel__role">{role}</span>
	<span class="c-member-panel__btn" aria-hidden="true">
		<img class="c-member-panel__arrow" src={arrow.src} alt="" />
	</span>
</a>

<style lang="scss">
	.c-member-panel {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: size(413);
		padding: size(20) 0 size(26);
		border-radius: size(10);
		background: linear-gradient(343.93deg, #fff 49.36%, #7cbdff 100%);
		overflow: hidden;

		@include mq('sp') {
			min-height: size(620);
			padding-top: size(50);
			background: linear-gradient(336.61deg, #fff 49.1%, #7cbdff 100%);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover .c-member-panel__img--base {
				opacity: 0;
			}

			&:hover .c-member-panel__img--hover {
				opacity: 1;
			}
		}

		&__photo {
			position: relative;
			display: flex;
			justify-content: center;
			height: size(275);
			margin-bottom: size(-2);
			transform: translateX(size(-40));

			@include mq('sp') {
				height: size(356);
				margin-bottom: size(-30);
			}
		}

		&__img {
			display: block;
			width: auto;
			height: 100%;
			transition: opacity 0.4s ease;

			&--hover {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
			}
		}

		&__name {
			font-family: $Font;
			font-weight: 700;
			font-size: size(29);
			line-height: 1.4;
			color: $brand-blue;
			text-align: center;

			@include mq('sp') {
				font-size: size(41);
			}
		}

		&__nameEn {
			font-family: $Font;
			font-weight: 400;
			font-size: size(12);
			line-height: 1.9;
			color: $brand-blue;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: size(2);

			@include mq('sp') {
				font-size: size(18);
			}
		}

		&__role {
			margin-top: size(2);
			font-family: $Font;
			font-weight: 400;
			font-size: size(16);
			line-height: 1.4;
			color: $brand-text;
			text-align: center;

			@include mq('sp') {
				font-size: size(28);
			}
		}

		// 右下の円形矢印（カード角丸でクリップされる）
		&__btn {
			position: absolute;
			right: size(-29);
			bottom: size(-34);
			width: size(97);
			height: size(97);
			border-radius: 50%;
			background: $brand-blue;
		}

		&__arrow {
			position: absolute;
			left: size(29);
			top: size(24);
			display: block;
			width: size(22);
			height: auto;
		}
	}
</style>
